---
import SectionLayout from "@/layouts/SectionLayout.astro";
---

<SectionLayout title="Sobre mi">
  <p
    class="text-base font-extralight text-white/70 leading-relaxed tracking-wider mb-4"
  >
    Soy un desarrollador de software con
    <span class="font-medium text-[#5874a3]"
      >1 año de experiencia profesional</span
    >
    y más de <span class="font-medium text-[#5874a3]"
      >6 años de formación continua</span
    >
    desde la preparatoria y la universidad. He participado en proyectos de aplicaciones
    web, móviles y de escritorio, aplicando buenas prácticas de programación y metodologías
    ágiles como
    <span class="font-medium text-[#5874a3]">Scrum</span> y
    <span class="font-medium text-[#5874a3]">Kanban</span> para asegurar entregas
    eficientes y organizadas.
  </p>
  <p
    class="text-base font-extralight text-white/70 leading-relaxed tracking-wider mb-4"
  >
    Me apasiona crear <span class="font-medium text-[#5874a3]"
      >soluciones tecnológicas</span
    >
    que optimicen procesos y resuelvan problemas reales, siempre con un enfoque en
    la
    <span class="font-medium text-[#5874a3]">calidad del código</span> y la mejora
    continua. Me caracterizo por mi capacidad de aprendizaje constante, mi compromiso
    con el
    <span class="font-medium text-[#5874a3]">trabajo en equipo</span>
    y mi habilidad para adaptarme a distintos entornos de desarrollo.
  </p>
  <p
    class="text-base font-extralight text-white/70 leading-relaxed tracking-wider mb-4"
  >
    Actualmente busco seguir <span class="font-medium text-[#5874a3]"
      >creciendo profesionalmente</span
    >, perfeccionando mis conocimientos en arquitectura de software e
    integración de sistemas, mientras contribuyo con <span
      class="font-medium text-[#5874a3]">creatividad</span
    >,
    <span class="font-medium text-[#5874a3]">eficiencia</span> y
    <span class="font-medium text-[#5874a3]">colaboración</span> a proyectos innovadores.
  </p>
</SectionLayout>
