---
import SectionLayout from "@/layouts/SectionLayout.astro";
---

<SectionLayout title="Sobre mi">
  <p
    class="text-base font-extralight text-white/70 leading-relaxed tracking-wider mb-4"
  >
    Soy un desarrollador web con <span class="font-medium text-[#5874a3]"
      >4 años de experiencia</span
    >, iniciando en el bachillerato con aplicaciones CRUD. Aunque no tengo
    experiencia laboral formal, he desarrollado <span
      class="font-medium text-[#5874a3]">habilidades sólidas</span
    > en el ámbito del desarrollo web, complementadas por mi <span
      class="font-medium text-[#5874a3]">responsabilidad</span
    >, organización y capacidad para trabajar en equipo.
  </p>
  <p
    class="text-base font-extralight text-white/70 leading-relaxed tracking-wider mb-4"
  >
    Me apasiona aprender nuevas tecnologías relacionadas al desarrollo web y
    busco un <span class="font-medium text-[#5874a3]">puesto desafiante</span> y
    dinámico donde pueda aportar y compartir mis conocimientos. Estoy comprometido
    en seguir <span class="font-medium text-[#5874a3]"
      >creciendo profesionalmente</span
    > y contribuir de manera significativa a proyectos innovadores y colaborativos
    en el campo del desarrollo web.
  </p>
  <p
    class="text-base font-extralight text-white/70 leading-relaxed tracking-wider mb-4"
  >
    Estoy siempre dispuesto a aprender y adoptar nuevas herramientas y
    metodologías para ofrecer soluciones innovadoras y eficientes.
  </p>
</SectionLayout>
