<footer class="mt-14">
  <p class="text-white/70 font-light tracking-wider">
    &copy; 2024, <a
      href="https://github.com/dxnielso"
      class="w-auto font-azeret font-semibold text-base  border-b-2 border-b-transparent duration-100 hover:border-b-[rgba(60,70,93,1)] hover:text-white"
      >Daniel Solís</a
    >
  </p>
</footer>
