---
interface Props {
  available: boolean;
}
const { available } = Astro.props;
---

<div
  class="w-fit flex items-center gap-x-2 px-2 py-1 rounded-xl bg-white/20 backdrop-blur-sm border border-white/30 mb-4 2xl:mb-5"
>
  <span class="relative size-2 2xl:size-3 flex">
    <span
      class=`absolute size-2 2xl:size-3 rounded-full animate-ping ${available ? "bg-green-400" : "bg-red-500"}`
    ></span>
    <!-- pulso -->
    <span
      class=`relative size-2 2xl:size-3 rounded-full ${available ? "bg-green-400" : "bg-red-500"}`
    ></span>
    <!-- color -->
  </span>
  <p class="font-geist-sans text-xs 2xl:text-sm font-extralight">
    {available ? "Disponible para trabajar" : "Trabajando"}
  </p>
</div>
