---
// import SectionLayout from "@/layouts/SectionLayout.astro";

import HTML from "@/components/icons/HTML.astro";
import CSS from "@/components/icons/CSS.astro";
import JavaScript from "@/components/icons/JavaScript.astro";
import TypeScript from "./icons/TypeScript.astro";
import Tailwind from "@/components/icons/Tailwind.astro";
import React from "./icons/React.astro";
import ExpressJS from "./icons/ExpressJS.astro";
import Astroo from "./icons/Astroo.astro";
import NextJS from "./icons/NextJS.astro";
import NodeJS from "./icons/NodeJS.astro";
import MySQL from "./icons/MySQL.astro";
---

<section class="w-full lg:w-[80%] flex flex-wrap gap-x-5 gap-y-4 2xl:gap-6">
  <HTML
    class="size-8 opacity-40 hover:opacity-80 hover:scale-110 duration-300"
  />
  <CSS
    class="size-8 opacity-40 hover:opacity-80 hover:scale-110 duration-300"
  />
  <JavaScript
    class="size-8 opacity-40 hover:opacity-80 hover:scale-110 duration-300"
  />
  <TypeScript
    class="size-8 opacity-40 hover:opacity-80 hover:scale-110 duration-300"
  />
  <Tailwind
    class="size-8 opacity-40 hover:opacity-80 hover:scale-110 duration-300"
  />
  <React
    class="size-8 opacity-40 hover:opacity-80 hover:scale-110 duration-300"
  />
  <ExpressJS
    class="size-8 opacity-40 hover:opacity-80 hover:scale-110 duration-300"
  />
  <Astroo
    class="size-8 opacity-40 hover:opacity-80 hover:scale-110 duration-300"
  />
  <NextJS
    class="size-8 opacity-40 hover:opacity-80 hover:scale-110 duration-300"
  />
  <NodeJS
    class="size-8 opacity-40 hover:opacity-80 hover:scale-110 duration-300"
  />
  <MySQL
    class="size-8 opacity-40 hover:opacity-80 hover:scale-110 duration-300"
  />
</section>
