---
// import SectionLayout from "@/layouts/SectionLayout.astro";

import skills from "../data/skills.data";
---

<section
  class="w-full lg:w-[80%] flex justify-center flex-wrap gap-x-5 gap-y-4 2xl:gap-6"
>
  {
    skills
      .filter((skill) => skill.domain == true)
      .map(({ name, icon: Icon }) => (
        <Icon
          title={name}
          class="size-8 opacity-40 hover:opacity-80 hover:scale-110 duration-300"
        />
      ))
  }
</section>
