---
interface Props {
   text: string;
}
const {text} = Astro.props
---

<span class="font-light font-azeret text-xs w-max text-white/80 px-[5px] py-[2px] rounded-sm bg-white/10 border border-white/40">{text}</span>